<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <img src="/media/shtors/Иллюстрация-без-названия.jpg" height="320px">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'Главная' %}">Главная</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'Регистрация' %}">Регистрация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'Вход' %}">Вход для зарегистрированных клиентов</a>
          </li>
             <li class="nav-item">
            <a class="nav-link active" href="{% url 'Выход' %}">Выход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">{{ user }}</a>
          </li>
        </ul>
        <form class="d-flex" role="search">

          <a href="{% url 'Календарь' %}" class="btn btn-outline-success" type="submit">Заказать дизайнера</a>
        </form>
      </div>
    </div>
  </nav>
    <title>{% block title %}
           {% endblock %}</title>
    <link href="{% static 'shtors/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
<img src="/media/shtors/Иллюстрация-без-названия (1).jpg" height="320px">
</html>