{% extends 'shtors/base.html'%}

{% block title %}
Вход
{% endblock %}

{% block content %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

</head>
<body>
<form class="d-flex" method="post">
        {%  csrf_token %}
    <p>Date: <input type="text" id="datepicker" name="date"></p>
    <input class="btn btn-outline-success" type="submit" value="Заказать">
</form>
</body>
{% if b %}
    <h2>{{ name }}, к сожалению, этот день занят, выберите другой</h2>
{% elif date %}
    <h2>{{ name }}, Вы заказали выезд дизайнера на {{ date }} </h2>
{% endif %}
{% endblock %}
