{% extends 'shtors/base.html'%}

{% block title %}
Вход
{% endblock %}

{% block content %}
{% if username %}
    <h2>Неправильно введен логин или пароль</h2>
{% endif %}



    <form class="d-flex" method="post">
        {%  csrf_token %}
        <p><input class="form-control me-2" type="text" placeholder="ваш login" name="name"></p>
        <p><input class="form-control me-2" type="password" placeholder="пароль" name="password"></p>


        <input class="btn btn-outline-success" type="submit" value="Войти">
    </form>

{% endblock %}
